@charset "utf-8";
/* CSS Document */

.celActiva {background-color:aqua; }
.rowActiva {background-color:aquamarine;}
.contenidorActiu {background-color:mediumaquamarine;}
.divTest {border: 1px solid black;}
.barra-intranet {background-color:#466480; color:#fff; font-size:.5rem}
.barra-intranet a {color:#fff}

.select select{
    display: inline-block;
    width: 100%;
    height: calc(1.8125rem + 2px);
    padding:.375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;

	
    margin: 0;
    font-family: inherit;
    font-size: 80%;
    line-height: inherit;

    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	
	text-transform:none;
	}
	
	
	
.select select::-ms-expand {
    display: none;
}
	
.divImg img { width:20px !important; margin-right:.5rem;}

.custom-select-sm { font-size:80% !important;}
.d-none, .d-print-only { display:block !important;}
